<!--Header portion-->
<div class="ej-sb-header br-navbar">
  <div class="ej-sb-left-side br-nav-left">
    <div class="ej-sb-hamburger-icon ej-sb-icons" (click)="onClick()"></div>
    <div class="ej-sb-logo-title-group">
      <a href="https://www.boldreports.com/" target="_blank" class="ej-sb-logo-link">
        <div class="ej-sb-logo"></div>
      </a>
    </div>
    <span class="ej-sb-divider"></span>
    <div class="ej-sb-framework-group">
      <span class="ej-sb-framework-label">Frameworks</span>
      <div class="ej-sb-framework-switcher">
        <a class="br-header-nav-link" [href]="aspNetUrl" >ASP.NET Core</a>
        <a class="br-header-nav-link" [href]="blazorUrl" >Blazor</a>
        <a class="br-header-nav-link active" [href]="angularUrl" >Angular</a>
        <a class="br-header-nav-link" [href]="reactUrl" >React</a>
        <a class="br-header-nav-link" [href]="javascriptUrl" >JavaScript</a>
      </div>
    </div>
  </div>
  <div class="ej-sb-right-side br-nav-right">
    <a class="ej-sb-button br-btn br-btn-xs br-btn-secondary product-detail" href="https://www.boldreports.com/embedded-reporting/angular-report-viewer" target="_blank">Product Details</a>
    <a class="ej-sb-button br-btn br-btn-xs br-btn-primary try-it-free" href="https://www.boldreports.com/register/reports?evaluation=v2">Try it Free</a>
  </div>
</div>